@using Business.Model
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model UI.ViewModels.AnaliseHistoricoViewModel;
@{
    ViewData["Title"]       = "Histórico de Análises";

    var tipoPessoaFiltro    = Context.Request.Query["tipoPessoaFiltro"];
    var classificacao       = Context.Request.Query["classificacao"];
    var segmento            = Context.Request.Query["segmento"];
    var motivo              = Context.Request.Query["motivo"];
    var dataInicio          = Context.Request.Query["dataInicio"];
    var dataFim             = Context.Request.Query["dataFim"];
    var numeroDocumento     = Context.Request.Query["numeroDocumento"];
}

<div class="row">
    <div class="col-md-12">
        <h4>Histórico</h4>
        <br />

        <form class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Tipo de Pessoa</label>
                        <div class="input-group">
                            <select class="form-control" name="tipoPessoaFiltro" id="tipoPessoaFiltro">
                                <option value="">Selecione</option>
                                @foreach (var item in Model.TipoPessoa)
                                {
                                    <!option value="@item.Chave"
                                        @if(item.Chave==tipoPessoaFiltro){
                                            @:selected
                                        }
                                    >
                                        @item.Descricao
                                    </!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Número do Documento</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" placeholder="Digite o Número do Documento" value="@(numeroDocumento)">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Classificação</label>
                        <select class="form-control" name="classificacao" id="classificacao">
                            <option value="">Selecione</option>
                            @foreach (var item in Model.Classificacao)
                            {
                                <!option value="@item.Id"
                                    @if(item.Id.ToString().Equals(classificacao)){
                                            @:selected
                                        }
                                >
                                        @item.Descricao
                                </!option>   
                            }
                            
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Segmento</label>
                        <select class="form-control" id="segmento" name="segmento">
                            <option value="">Selecione</option>
                            @foreach (var item in Model.Segmentos)
                            {
                                <!option value="@item.Id"
                                     @if(item.Id.ToString().Equals(segmento)){
                                            @:selected
                                        }
                                >
                                        @item.Descricao
                                </!option>   
                            }
                            
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Movito</label>
                        <select class="form-control" name="motivo" id="motivo">
                            <option value="">Selecione</option>
                            @foreach (var item in Model.Motivos)
                            {
                                <!option value="@item.Id"
                                    @if(item.Id.ToString().Equals(motivo)){
                                            @:selected
                                        }
                                >
                                        @item.Descricao
                                </!option>  
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Data da Análise</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">De</span>
                            </div>
                            <input type="date" class="form-control" name="dataInicio" id="dataInicio" value="@(Context.Request.Query["dataInicio"])">
                            <div class="input-group-prepend">
                                <span class="input-group-text">até</span>
                            </div>
                            <input type="date" class="form-control" name="dataFim" id="dataFim" value="@(Context.Request.Query["dataFim"])">
                        </div>
                    </div>
                    
                    
                </div>
                <div class="float-right">
                    <a asp-action="Historico" asp-controller="Analise" class="btn btn-sm btn-info">
                        <i class="fa fa-undo"></i> Limpar
                    </a>
                    <button class="btn btn-sm btn-success"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </form>

        @if(Model.Analises.Count>0){
            <br />
            <div class="float-right mb-4">
                <a 
                    asp-action="ExportarExcel" 
                    asp-route-tipoPessoaFiltro="@tipoPessoaFiltro"
                    asp-route-numeroDocumento="@numeroDocumento"
                    asp-route-classificacao="@classificacao"
                    asp-route-segmento="@segmento"
                    asp-route-motivo="@motivo"
                    asp-route-dataInicio="@dataInicio"
                    asp-route-dataFim="@dataFim"

                    class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Exportar como Excel</a>
                <a 
                    asp-action="ExportarPDF" 
                    asp-route-tipoPessoaFiltro="@tipoPessoaFiltro"
                    asp-route-numeroDocumento="@numeroDocumento"
                    asp-route-classificacao="@classificacao"
                    asp-route-segmento="@segmento"
                    asp-route-motivo="@motivo"
                    asp-route-dataInicio="@dataInicio"
                    asp-route-dataFim="@dataFim"
                    class="btn btn-sm btn-danger"><i class="fa fa-file-pdf-o"></i> Exportar como PDF</a>
            </div>
        
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <tr>
                        <th>Tipo de Pessoa</th>
                        <th>Número do Documento</th>
                        <th>Segmento</th>
                        <th>Classificação</th>
                        <th>Data da Análise</th>
                        <th></th>
                    </tr>
                    @foreach(var item in Model.Analises)
                    {
                    <tr>
                        <td>@item.Pessoa.TipoPessoa.Descricao</td>
                        <td>@item.Pessoa.NumeroDocumento</td>
                        <td>@item.Pessoa.Segmento.Descricao</td>
                        <td>@item.Classificacao.Descricao</td>
                        <td>@item.DataCadastro</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a asp-controller="Analise" asp-action="Details" asp-route-guid="@item.Id" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Ver</a>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div class="float-left">
                <div>
                    <div style="float: right">
                        Página @(Model.Analises.PageCount < Model.Analises.PageNumber ? 0 : Model.Analises.PageNumber) de @Model.Analises.PageCount
                    </div>
                    <div class="justify-content-center">
                        @*@Html.PagedListPager(Model, pagina => Url.Action("Historico", new { search = ViewBag.Busca, pagina }), new PagedListRenderOptions { FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("class", "page-link".ToString()); return aTag; }, LiElementClasses = new[] { "page-item" }, UlElementClasses = new[] { "pagination  justify-content-center" } })*@
                    </div>
                </div>
            </div>

            <div class="float-right">
                @Html.PagedListPager(
                    Model.Analises,
                    page => Url.Action("Historico", new { page, tipoPessoaFiltro = tipoPessoaFiltro, motivo = motivo, segmento = segmento, classificacao = classificacao, dataInicio = dataInicio, dataFim = dataFim  }),
                    new PagedListRenderOptions {
                        ContainerDivClasses = new[] { "navigation" },
                        PageClasses = new[] { "page-link" },
                        LiElementClasses = new[] { "page-item" },
                        UlElementClasses = new[] { "pagination justify-content-center" },
                        LinkToPreviousPageFormat = "Anterior",
                        LinkToNextPageFormat = "Próximo",
                        LinkToFirstPageFormat = "Primeira",
                        LinkToLastPageFormat = "Última",
                        ActiveLiElementClass = "active",
                        MaximumPageNumbersToDisplay = 3,
                        DisplayEllipsesWhenNotShowingAllPageNumbers = false
                    }
                )
            </div>
        }
        else
        {
            <br /><br />
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <tr>
                        <td><i>A Pesquisa não retornou resultados.</i></td>
                    </tr>
                </table>
            </div>
        }


    </div>
</div>

