@model Web.ViewModels.AnaliseViewModel
@{
    ViewData["Title"] = "Análise de Crédito";
    var tipo = Model.Pessoa.TipoPessoa.Chave == "F" ? "CPF" : "CNPJ";
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs AnaliseAbas">
            <li class="nav-item">
                <a class="nav-link active"  href="#" data-aba="tudo">Mostrar Tudo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" data-aba="aba-info" >Informações da Análise de Crédito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#" data-aba="aba-form">Nova Análise</a>
            </li>
            @if(Model.Analises.Count>0){
                <li class="nav-item">
                    <a class="nav-link"  href="#" data-aba="aba-historico">Últimas Análises</a>
                </li>
            }
        </ul>
        <br />
        @{await Html.RenderPartialAsync("_Alerts");}
    </div>
</div>

<div class="row abas aba-info active">

    <div class="col-md-9">

        <h4>Informações da Análise de Crédito</h4>
        <div class="table-responsive">       
        <table class="table table-bordered table-striped">
            <tr>
                <th>@(Model.Pessoa.TipoPessoa.Chave=="F"?"CPF":"CNPJ")</th>
                <th>Segmento</th>
            </tr>
            <tr>
                <td>@Model.Pessoa.NumeroDocumento</td>
                <td>@Model.Pessoa.Segmento.Descricao</td>
            </tr>
            <tr>
                <th>Recebido em:</th>
                <th>Atualizado em:</th>
            </tr>
            <tr>
                <td>@Model.Pessoa.DataCadastro</td>
                <td>
                    @if (@Model.AnaliseRecente!=null)
                    {
                        @Model.AnaliseRecente.DataCadastro    
                    }else{
                        <span>-</span>
                    }
                        
                </td>
            </tr>
        </table>
        </div>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Classificação</h4>
        <div class="card">
            <div class="card-body">
                @if (@Model.AnaliseRecente!=null)
                    {
                        <h1 class="classificacaoTxt">@Model.AnaliseRecente.Classificacao.Descricao</h1>

                        @if(Model.AnaliseRecente.DataExpiracao!=null){
                            <small class="text-center d-block">Expira em: @Model.AnaliseRecente.DataExpiracao</small>
                        }else{
                            <small class="text-center d-block">Sem data de expiração</small>
                        }

                    }else{
                        <h1 class="classificacaoTxt"><span class="semClassificacao">Sem Classificação</span></h1>
                        <small class="text-center d-block">&nbsp;</small>
                    }
            </div>
        </div>
    </div>
    
    
    <div class="col-md-12">
        <div class="table-responsive">        
        <table class="table table-bordered table-striped">
            <tr>
                <th>Motivo</th>  
            </tr>
            <tr>
                <td>
                    @if(Model.AnaliseRecente!=null){
                        @Model.AnaliseRecente.Motivo.Descricao
                    }else{
                        <i>-</i>
                    }
                </td>
            </tr>
            <tr>
                <th>Parecer</th>
            </tr>
            <tr>
                <td>
                    @if(Model.AnaliseRecente!=null){
                        @Html.Raw(Model.AnaliseRecente.Parecer)
                    }else{
                        <i>-</i>
                    } 
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>

<form asp-controller="Analise" asp-action="Create" enctype="multipart/form-data" class="row abas aba-form active" >
    <input type="hidden" asp-for="Analise.PessoaId" value="@Model.Pessoa.Id" />
    <input type="hidden" asp-for="@Model.Pessoa.NumeroDocumento" value="@Model.Pessoa.NumeroDocumento" />
    <input type="hidden" asp-for="@Model.Pessoa.TipoPessoa.Chave" value="@Model.Pessoa.TipoPessoa.Chave" />
    <div class="col-md-12">
        <h4>Nova Análise</h4>        
    </div>
    <div class="col-md-6">
        
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Motivo</h4><br />
                @foreach (var item in @Model.Motivos)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Analise.MotivoId" value="@item.Id" />
                        <label class="form-check-label" asp-for="Analise.MotivoId" >@item.Descricao</label>
                    </div>   
                }
                <span asp-validation-for="Analise.MotivoId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Classificação</h4>
                <br />
                <div class="form-group">
                    <label asp-for="Analise.ClassificacaoId">Classificação</label>
                    <select asp-for="Analise.ClassificacaoId" asp-items="@(new SelectList(Model.Classificacoes, "Id", "Descricao"))" class="form-control" >
                        <option value="">Selecione</option>
                    </select>
                    <span asp-validation-for="Analise.ClassificacaoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analise.DataExpiracao">Travar Data</label>
                    <input type="datetime-local" asp-for="Analise.DataExpiracao" class="form-control datepicker" placeholder="Selecione uma data" value="" >
                    <small id="emailHelp" class="form-text text-muted">Preencha apenas se for travar a data.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Parecer</h4>
                <div class="form-group">
                    <label asp-for="Analise.Parecer">Descritivo do Parecer:</label>
                    <textarea asp-for="Analise.Parecer" class="form-control ckeditor-validate" ></textarea>
                    <span asp-validation-for="Analise.Parecer" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Grupos</h4>
                <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            <input id="checkMaster" onclick="marcarDesmarcar()" type="checkbox" />
                        </th>
                        <th>Tipo de Pessoa</th>
                        <th>Número</th>
                        <th>Segmento</th>
                    </tr>
                    @for (var i = 0; i < Model.PessoasGrupo.Count; i++)
                    {
                        <tr>
                            <td>
                                @{
                                  var checkedOuNao = Model.PessoasGrupo[i].Id==Model.Pessoa.Id ? "checked":null;
                                  var onClickCheck = "";
                                  var classCheck   = "";

                                  @if(Model.PessoasGrupo[i].Id==Model.Pessoa.Id){
                                         onClickCheck   = "return false;";
                                         classCheck     = "checkGrupo checkGrupoMarcado";
                                    }else{
                                        classCheck     = "checkGrupo checkGrupoOutro";
                                    }
                                }
                                <input type="checkbox" asp-for="@Model.CheckedPessoas[@i].IsChecked" onclick="@onClickCheck" checked="@checkedOuNao" class="@classCheck"  />
                                <input type="hidden" asp-for="@Model.CheckedPessoas[@i].Id" value="@Model.PessoasGrupo[i].Id"  />
                            </td>
                            <td>@Model.PessoasGrupo[i].TipoPessoa.Descricao</td>
                            <td>@Model.PessoasGrupo[i].NumeroDocumento</td>
                            <td>@Model.PessoasGrupo[i].Segmento.Descricao</td>
                        </tr>
                    }
                    
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 float-right text-right">
        <br />
        <button class="btn btn-sm btn-success">Salvar Análise</button>
    </div>
</form>

@if(Model.Analises.Count>0){
    <div class="row abas aba-historico active">
         <div class="col-md-12">
            <h4>Últimas análises</h4>
            <br />
            
                @foreach (var item in Model.Analises)
                {
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm">
                        <tr>
                            <th>Tipo de Pessoa</th>
                            <th>Número</th>
                            <th>Segmento</th>
                            <th>Classificação</th>
                            <th>Data da Análise</th>
                            <th>Data da Expiração</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>@item.Pessoa.TipoPessoa.Descricao</td>
                            <td>@item.Pessoa.NumeroDocumento</td>
                            <td>@item.Pessoa.Segmento.Descricao</td>
                            <td>@item.Classificacao.Descricao</td>
                            <td>@item.DataCadastro</td>
                            <td>@item.DataExpiracao</td>
                            <td class="text-center align-middle" rowspan="5">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-sm">Ver</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="6">Motivo</th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                @item.Motivo.Descricao
                            </td>
                        </tr>
                        <tr>
                            <th colspan="6">Parecer</th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                @Html.Raw(@item.Parecer)
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                }
            
            
            <div class="float-right">
                <a asp-controller="Historico" asp-action="Index" class="btn btn-sm btn-success">Ver Histórico Completo</a>
            </div>
        </div>
    </div>
}
<style>
    .ckeditor-validate{
        display: block !important;
        width: 0px !important;
        height: 0px !important;
        padding: 0;
    }
</style>
@section scripts {
<script>
$('.AnaliseAbas a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show');
  var valor = $(this).data('aba');
  

  if(valor=="tudo"){  
    $('.abas').addClass('active');
  }else{
    $('.abas').removeClass('active');
    $('.'+valor).addClass('active');
  }
});

function marcarDesmarcar(){
    
    if ($('#checkMaster').is(':checked')) {
        //$('.checkGrupo').each(function(){
        //    $(this).attr("checked", "checked");
        //});
        $('.checkGrupoOutro').prop("checked", true);
    }else{
        $(".checkGrupoOutro").prop("checked", false);
    }
}

$(document).ready(function(){
    //$('.datepicker').daterangepicker({
    //    autoUpdateInput: false,
    //    locale: {
    //        cancelLabel: 'Clear'
    //    }
    //});
    
    CKEDITOR.replace('Analise_Parecer', {
        on: {
              change: function() {
                  this.updateElement();    
              }
        }
    });
});
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
