@model Web.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var mes = DateTime.Now.ToString("MMMM");
    mes = char.ToUpper(mes.First()) + mes.Substring(1).ToLower();
}

<div class="row">
    @{await Html.RenderPartialAsync("_Alerts");}
    <form asp-controller="Analise" asp-action="Buscar" class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Busca</h4><br />
                <div class="form-group">
                    
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <input class="" type="radio" name="chave" id="chave" required value="F">&nbsp;
                            <label class="form-check-label" for="inlineRadio1">CPF</label>
                        </span>
                        <span class="input-group-text">
                            <input class="" type="radio" name="chave" id="chave" required value="J">&nbsp;
                            <label class="form-check-label" for="inlineRadio1">CNPJ</label>
                        </span>
                      </div>
                      <input type="text" class="form-control" id="numeroDocumento" required name="numeroDocumento" aria-describedby="Número do Documento" placeholder="Digite o Número do Documento">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Informações Quantitativas</h4><br />
                <p class="text-center">
                    <b>Análises realizadas hoje:</b>
                    <br />
                    @Model.QuantidateAnalisesHoje
                    <br />
                    <b>Análises realizadas no mês (@(mes)):</b>
                    <br />
                    @Model.QuantidateAnalisesMes
                    <br />
                    <b>Motivo mais Utilizado hoje:</b>
                    <br />
                    @(Model.QuantidadeMotivosHoje==0?"-":Model.NomeMotivosHoje + " ("+Model.QuantidadeMotivosHoje+")")
                    <br />
                    <b>Motivo mais Utilizado no mês (@(mes)):</b>
                    <br />
                    @(Model.QuantidadeMotivosMes==0?"-":Model.NomeMotivosMes + " ("+Model.QuantidadeMotivosMes+")")
                    
                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="text-center">Ranking de Classificações</h4><br />
                    <div class="w-100">
                        @if(Model.QuantidadeOuro>0){
                            <h1 class="classificacaoTxt">
                                @Model.ClassificacaoOuro
                            </h1>
                            <div class="gold-rank w-100 text-center rounded">1º - @Model.QuantidadeOuro</div>
                            <br />
                        }
                    </div>
                    <div class="w-50 float-left">
                        @if(Model.QuantidadePrata>0){
                            <h5 class="text-center">
                                @Model.ClassificacaoPrata
                            </h5>
                            <div class="silver-rank w-100 text-center rounded-left">2º - @Model.QuantidadePrata</div>
                        }
                    </div>
                    <div class="w-50 float-right">
                        @if(Model.QuantidadeBronze>0){
                            <h5 class="text-center">
                                @Model.ClassificacaoBronze
                            </h5>
                            <div class="bronze-rank w-100 text-center rounded-right">3º - @Model.QuantidadeBronze</div>
                        }
                    </div>

                    @if(Model.QuantidadeBronze==0 && Model.QuantidadePrata==0 && Model.QuantidadeOuro==0){
                        <div class="w-100">    
                            <h1 class="classificacaoTxt">
                                <i class="semClassificacao">Sem Classificação</i>
                            </h1>
                        <br />
                        
                    </div>
                    }
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h4>Últimas análises</h4>
        <br />
        @if (Model.Analises.Count > 0)
        {   
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm">
                    <tr>
                        <th>Tipo de Pessoa</th>
                        <th>Número</th>
                        <th>Segmento</th>
                        <th>Classificação</th>
                        <th>Data da Análise</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Analises)
                    {
                    <tr>
                        <td>@item.Pessoa.TipoPessoa.Descricao</td>
                        <td>@item.Pessoa.NumeroDocumento</td>
                        <td>@item.Pessoa.Segmento.Descricao</td>
                        <td>@item.Classificacao.Descricao</td>
                        <td>@item.DataCadastro</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a asp-controller="Analise" asp-action="Details" asp-route-guid="@item.Id" class="btn btn-info btn-sm">Ver</a>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div class="float-right">
                <a asp-controller="Historico" asp-action="Index" class="btn btn-sm btn-success">Ver Histórico Completo</a>
            </div>
        }
        else
        {
            <i>Sem análises realizadas.</i>
        }
    </div>
</div>

